.camera-box {
  position: relative;
}

#video {
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#canvas {
  position: absolute;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

#train-controller {
  margin-left: 700px;
}

.button {
  display: block;
  margin: 10px;
}
